  <footer class="bg_random_color text-light py-5 mt-5">
    <div class="container">
      <p><a class="text-light text-underline" href="{{site.url}}{{site.baseurl}}/">{{ site.title }}</a> is maintained by Shibu deb polo.</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="{{ "assets/bootstrap/popper.min.js" | relative_url }}"></script>
  <script src="{{ "assets/bootstrap/bootstrap.min.js" | relative_url }}"></script>
  <script src="{{ "assets/bootstrap/color.js" | relative_url }}"></script>
</body>
</html>